body,
html,
#app,
.app {
    height: 100%;
}

body {
    margin: 0;
    font-family: $font-texts, sans-serif;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;

    @media (max-width: 1024px) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (max-width: 480px) {
        padding-left: 8px;
        padding-right: 8px;
    }
}

svg {
    stroke: #fff;
}

.buttons-list {
    padding: 0;
    list-style: none;
    display: flex;

    li + li {
        margin-left: 8px;
    }

    li {
        a,
        button {
            background-color: $bg-1;
            text-decoration: none;
            color: #fff;
            padding: 8px 16px;
            border-radius: 16px;
            @include flex;
            box-shadow: $shadow;

            &:hover {
                transform: scale(1.02);
                box-shadow: $shadow-hover;
            }

            &:active {
                box-shadow: none;
                transform: scale(1.01);
            }
        }
    }

    li:nth-child(2n) {
        a,
        button {
            background-color: $bg-2;
        }
    }
}

h3 {
    color: #fff;
    text-shadow: 2px 2px $bg-1;
  }

.slide-fade-enter-active {
    transition: all 0.2s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
