@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin page {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;

    @media (max-width: 480px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@mixin full-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin button-image {
    background-color: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
    }
}

@mixin circle-button {
    @include button-image;
    @include flex;
    border-radius: 50%;
}

@mixin title-image {
    width: 259px;
    margin: 0 auto;
    margin-bottom: 50px;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 480px) {
        &__title {
            width: 180px;
        }
    }
}

@mixin card {
    background-color: #fff;
    color: $text-3;
    padding: 16px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 30px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    p {
      margin: 0;
    }
}
