$bg-1: #ff40bd;
$bg-2: #ffaa1b;
$bg-3: #9e5aff;

$text-1: #fff42c;
$text-2: #d6e0ed;
$text-3: #551a8b;

$font-logo: 'Monomaniac One', sans-serif;
$font-texts: 'Montserrat Alternates', sans-serif;
$font-title: 'Rubik Mono One', sans-serif;
$font-lose: 'Rubik Wet Paint', cursive;
$font-pixels: 'Press Start 2P', cursive;

$shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$shadow-hover: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;